In [2]:
#For data
import pandas as pd
from pandas import Series,DataFrame

#joel-20091112-xuc.tgz

In [15]:
scraping_df = pd.read_csv('/Users/kevenlemoing/Sites/sandvik_code_assignement/data/scraping_result.csv',error_bad_lines=False)

In [16]:
scraping_df.head()

   Unnamed: 0                 date  size                 sub_link
0           0  2010-07-20 09:47:00  1.3M    1028-20100710-hne.tgz
1           1  2017-03-24 04:09:00  1.1M  1337ad-20170321-ajg.tgz
2           2  2017-03-24 04:09:00  1.1M  1337ad-20170321-tkg.tgz
3           3  2017-03-24 04:09:00  1.0M  1337ad-20170321-ynk.tgz
4           4  2012-05-11 04:52:00  1.5M  1snoke-20120412-hge.tgz

In [17]:
#Check types to see if we are still aligned
scraping_df = scraping_df.drop('Unnamed: 0',axis=1)
scraping_df.head()

                  date  size                 sub_link
0  2010-07-20 09:47:00  1.3M    1028-20100710-hne.tgz
1  2017-03-24 04:09:00  1.1M  1337ad-20170321-ajg.tgz
2  2017-03-24 04:09:00  1.1M  1337ad-20170321-tkg.tgz
3  2017-03-24 04:09:00  1.0M  1337ad-20170321-ynk.tgz
4  2012-05-11 04:52:00  1.5M  1snoke-20120412-hge.tgz

In [25]:
#get index of my last sub_link downloaded
for i in range (len(scraping_df['sub_link'])):
    if scraping_df['sub_link'][i] == 'joel-20091112-xuc.tgz':
        print i

4507

In [26]:
scraping_df_sliced = scraping_df.copy()

In [28]:
scraping_df_sliced = scraping_df_sliced.loc[4507:, :]

In [29]:
scraping_df_sliced.head()

                     date  size               sub_link
4507  2010-02-18 18:38:00  1.5M  joel-20091112-xuc.tgz
4508  2010-02-18 22:28:00  970K  joel-20091112-zbl.tgz
4509  2010-02-02 16:18:00  1.0M  joel-20091116-aqq.tgz
4510  2010-02-02 16:18:00  930K  joel-20091116-ehr.tgz
4511  2010-02-02 16:18:00  1.0M  joel-20091116-gpo.tgz

In [30]:
scraping_df_sliced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1737 entries, 4507 to 6243
Data columns (total 3 columns):
date        1737 non-null object
size        1737 non-null object
sub_link    1737 non-null object
dtypes: object(3)
memory usage: 40.8+ KB

In [31]:
scraping_df_sliced .to_csv('/Users/kevenlemoing/Sites/sandvik_code_assignement/data/scraping_result_sliced.csv')